header{
    padding: 20px;
    padding-left: 500px;
    background-color:rgb(30, 30, 95);
    color: white;
    
}

.title{
    margin-top: -40px;
    font-weight: bolder;
    font-size: x-large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.titlemenu{
    padding-top: 30px;
    padding-right: 150px;   
}
a{
    text-decoration: none;
    color: whitesmoke;   
    padding: 5px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a:hover{
    background-color:lightslategray;   
}